@model ForretasAPITester.Models.SearchProductsData

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewBag.Title = "Test searching";
}

<br />

<div class="container" style="padding-bottom:25px">
    <h4>Test searching products with API</h4>
    <div style="width: 70%; float:left; border:solid 1px black">

        <form asp-action="SendSearchRequest" method="post" enctype="multipart/form-data">
            <table width="95%" align="center" style="margin-bottom:15px;">
                <tr>
                    <td width="40%">
                        <label>Offset:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100%" asp-for="Offset" />
                        <span style="font-size:10px; color:red" asp-validation-for="Offset"></span>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <label>Quantidade:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100%" asp-for="Limit" />
                        <span style="font-size:10px; color:red" asp-validation-for="Limit"></span>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <label>Título:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100%" asp-for="Title" />
                        <span style="font-size:10px; color:red" asp-validation-for="Title"></span>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <label>Preço mínimo:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100%" asp-for="PriceMin" />
                        <span style="font-size:10px; color:red" asp-validation-for="PriceMin"></span>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <label>Preço máximo:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="width:100%" asp-for="PriceMax" />
                        <span style="font-size:10px; color:red" asp-validation-for="PriceMax"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Só ativos?</label>
                    </td>
                    <td>
                        <input type="checkbox" asp-for="OnlyActive" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-info" asp-action="SendSearchRequest">Pesquisar</button>
                    </td>
                </tr>
            </table>
            <hr />

            @if (!string.IsNullOrEmpty(Model.APIResponse))
            {
                <table width="95%" align="center" style="margin-bottom:15px;">
                    <tr>
                        <td>Resposta da API</td>
                    </tr>
                    <tr>
                        <td>
                            <textarea cols="80" rows="20">
                                @Model.APIResponse
                            </textarea>
                        </td>
                    </tr>
                </table>
            }
        </form>
    </div>
</div>
